{# empty Twig template #}
{% extends "base.html.twig"%}

{% block body %}


    <script src="../js/jquery-3.1.1.min.js"></script>
    <div class="wrapper wrapper-content animated fadeInRight">
        {% if message is defined  %}
            <div class='alert-success'>{{ message  }}  </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Basic Data Tables example with responsive plugin</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Vorname</th>
                                        <th>Email</th>
                                        <th>UserName</th>
                                        <th>LastLogin</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr class="gradeU" id="{{user.id}}">

                                            <td id="name_{{user.id}}">{{user.name}}</td>
                                            <td id="vorname_{{user.id}}">{{user.vorname}}</td>
                                            <td id="email_{{user.id}}">{{user.email}}</td>
                                            <td id="username_{{user.id}}">{{user.username}}</td>
                                            <td>{{user.lastlogin|date('Y-m-d')}}</td>
                                            <td>
                                                <p data-placement="top" class="updateuser" data-id="{{user.id}}" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>                           
                                                <p data-placement="top" class="deleteUser" data-id="{{user.id}}" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p>                      


                                            </td>
                                        </tr>

                                    {% endfor %}

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Vorname</th>
                                        <th>Email</th>
                                        <th>UserName</th>
                                        <th>LastLogin</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                </div><form>
                <div class="modal-body"><form>
                        <input type="text" name="id" hidden id="id"/>
                        <div class="alert-danger" id="error_div"></div>
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-4 col-xs-12"> <label>Name </label> <input name="name" id="name" class="form-control " type="text" placeholder=""></div>
                        <div class="col-lg-4 col-md-4 col-xs-12"> <label>Vorname </label> <input name="vorname" id="vorname" class="form-control " type="text" placeholder=""></div>
                        <div class="col-lg-4 col-md-4 col-xs-12"> <label>Username </label> <input name="username" id="username" class="form-control " type="text" placeholder=""></div>


                    </div>

                    <div class="row form-group">
                        <div class="col-lg-6 col-md-6 col-xs-12"> <label>Email </label> <input name="email" id="email" class="form-control " type="text" placeholder=""></div>
                        <div class="col-lg-4 col-md-4 col-xs-12"> <label>Repeat Email </label> <input id="secondmail" class="form-control " type="text" placeholder=""></div>

                    </div>
 <div class="row form-group">
                        <div class="col-lg-3 col-md-3 col-xs-12"> <label>Adresse</label> <input name="adresse" id="adresse" class="form-control " type="text" placeholder=""></div>
                        <div class="col-lg-3 col-md-3 col-xs-12"> <label>Stadt </label> <input name="stadt" id="stadt" class="form-control " type="text" placeholder=""></div>
                        <div class="col-lg-3 col-md-3 col-xs-12"> <label>Ort </label> <input name="ort" id="ort" class="form-control " type="text" placeholder=""></div>
                   <div class="col-lg-3 col-md-3 col-xs-12"> <label>PLZ</label> <input id="plz" name="plz" class="form-control " type="text" placeholder=""></div>


                    </div>
                    
                    
                   
                </div>
                <div class="modal-footer ">
                    <button type="submit" id="UpdateUser" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                </div>
                 </form>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this User?</div>

                </div>
                <div class="modal-footer ">
                    <button data-id="" id="deletebutton" type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>

{% endblock %}



{% block js %}
    <script src="../js/plugins/dataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });



    </script>

    <script>
        $('.deleteUser').on('click', function () {

            var userid = ($(this).attr('data-id'))
            $('#deletebutton').attr('data-id', userid)

        })
        $('#deletebutton').on('click', function () {

            var userid = ($(this).attr('data-id'))

            deleteuser(userid)

        })
        
        $('form').submit(function (e) {
    e.preventDefault();
    var data = $(this).serializeFormJSON();
    updateUser(data);

    /* Object
        email: "value"
        name: "value"
        password: "value"
     */
});
    </script>
    <script>
        $('.updateuser').on('click', function () {

            var userid = ($(this).attr('data-id'))
            getUserById(userid)

        })

        $('#deletebutton').on('click', function () {

            var userid = ($(this).attr('data-id'))

            deleteuser(userid)

        })
    </script>
    <script>
        var deleteuser = function (id) {
            $.ajax(
                    {url: "/manageuser/deleteuser/" + id,
                        success: function (result) {
                            $('tr[id=' + id + ']').remove();
                            $('.modal').modal('hide');
                        }});
        }

        var getUserById = function (id) {
            $.ajax(
                    {url: "/manageuser/getusterByid/" + id,
                        success: function (result) {
                            var user = JSON.parse(result);
                            filloutupdateform(user);

                        }});
        }
        var filloutupdateform = function (user) {
            console.log(user)
            $('#id').val(user.id);
           $('#name').val(user.name);
           $('#vorname').val(user.vorname);
           $('#username').val(user.username);
           $('#email').val(user.email);
           $('#secondemail').val(user.email);
           $('#adresse').val(user.adresse);
           $('#ort').val(user.ort);
           $('#plz').val(user.plz);
           $('#stadt').val(user.stadt);
       
        }
        
      


    </script>
    
    <script>
        (function ($) {
    $.fn.serializeFormJSON = function () {
        console.log()

        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
})(jQuery);
        
    </script>
    <script>
        
        var updateUser = function (user) {
           user.id= parseInt($('#id').val())
            $.ajax(
                    {url: "/updateuser",
                    type: 'POST',
                    data : {'user':user},
                        success: function (result) {
                        var user = JSON.parse(result.data);
                       
                        $('.modal').modal('hide');
                         replacetr(user)
                        },
                        error : function (err){
                            $('#error_div').html('Error, Email or username are already taken')
                        }
                    
        });
        }
    </script>
    <script>
        var replacetr = function (user){
            console.log(user)
            $('#name_'+user.id).html(user.name)
            $('#vorname_'+user.id).html(user.vorname)
            $('#email_'+user.id).html(user.email)
            $('#username_'+user.id).html(user.username)
            
        }
        
    </script>
    
{% endblock %}

