<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login </title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Welcome to IN+</h3>
            <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            <p>{% if error %}
    <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}</p>
          <form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

<div class="form-group">
    <input class="form-control" placeholder="Username"  type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
</div>
<div class="form-group">
    <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
</div>

    <input type="submit" type="submit" class="btn btn-primary block full-width m-b" id="_submit" name="_submit" value="Login" />
</form>

            
            
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>

